/* Overflow hidden breaks about image, switch to clearfix */
#content:after {
	content: "";
	display: block;
	clear: both;
}

#content h2 {
	font: 34px Tallys, Georgia, Serif; letter-spacing: 3px; color: #6c695e;
	text-shadow: 0px 1px 0px #fff; margin: 0 0 30px 0;
}

#content h3 {
	font: 28px Tallys, Georgia, Serif; letter-spacing: 3px; color: #6c695e;
	text-shadow: 0px 1px 0px #fff; margin: 0 0 15px 0;
}

#content h4 {
	font: 22px Tallys, Georgia, Serif; letter-spacing: 3px; color: #6c695e;
	text-shadow: 0px 1px 0px #fff; margin: 0 0 15px 0;
}

#content p {
	color: #474747; margin: 0 0 30px 0;
}

#content a {
	color: #88344b; text-decoration: none; text-shadow: 0px 1px 0px #fff;
}
#content a:hover {
	color: #5c1629;
}

#content ul, #content ol {
	margin: 0 0 30px 0; color: #474747; list-style-position: inside;
}

#content .video {
	width: 648px; padding: 20px 18px; text-align: center;
	margin: 0 auto 30px auto;
}

.post-content img {
	display: block;
	padding: 20px 18px;
	text-align: center;
	margin: 0 auto;
}

#content #main {
	float: left;
	width: 100%;
}
#content #main .post {
	position: relative; margin: 0; padding: 0 0 30px 0; overflow: hidden;
}
#content #main .post h2 {
	float: left; margin: 0 0 10px 75px;
	font: 24px Lucida Grande, Lucida Sans Unicode, Helvetica, Sans-Serif; letter-spacing: normal;
}

#content #main .post p.date {
	position: absolute; left: 0; top: 0; padding: 4px 7px 0 7px;
	font: bold 40px Helvetica, Sans-Serif; color: #b6b6b1; text-align: center;
}

#content #main .post p.date span {
	font: normal 20px Helvetica, Sans-Serif;
	display: block; margin: 0; padding: 0;
}

#main .post ul.meta {
	float: left; list-style: none; margin: 0 0 30px 75px; overflow: hidden;
	font: 16px Helvetica, Sans-Serif; color: #b6b6b1;
}
#main .post ul.meta li {
	float: left; margin: 0;
}

#content #main .post .post-content {
	clear: both;
}

.pagination {
	margin: 0 0 60px 0; overflow: hidden;
}

.pagination p {
	color: #0b0b0b;
	font-size: 15pt;
	margin: 0;
}

.pagination p a {
	display: block; width: 102px; height: 33px; overflow: hidden;
}

.prev a {
	float: left; padding: 14px 0 0 46px;
}

.next a {
	float: right; text-align: right; padding: 14px 46px 0 0;
}